body{
    font-family: 'Open Sans', sans-serif;
    background-color:  #f9fafc;
    color: #69696a;

}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rightitems{
    display: flex;
    flex-direction: column
}

#hireus{
    display: block;
}

.content{
    margin-top: 20px;
    width: 100%;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
   
}


.btn{
    background: #000;
    color: white;
    border-radius: 20px;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    cursor: pointer;

}

.btn:hover{
    
    background-image: linear-gradient(to right, green, blue, black);
    
}


nav li{
    padding: 0;
    padding-bottom: 10px;
    cursor:default;
}

p{
    border-left: 3px solid #69696a;
    padding-left: 20px;
    padding-bottom: 20px;
}

h1{
    color: #000;
    margin-left: 20px
}

a{
    text-decoration: none;
    margin-bottom: 10px;
    
}

a:visited{
    color: #69696a
}

.navhead a{
    color:#000;
}

@media only screen and (min-width: 768px){
    

    #hireus{
        display: inline;
        width: auto;
    }

    .content{
        width: 50%;
        margin-top: 10rem;
        top: 50em;
    }

    .btn{
        padding-left: 8px;
    }

    .navbar{
        flex-direction: row;
    }

    .rightitems{
        flex-direction: row;
    }

    .rightitems a{
        padding-left: 10px
    }

    #hireus{
        display: flex;
        align-items: center;
        padding:0;
        height: 25px;
        font-size: inherit;
        padding: 0 10px;
        margin-left: 10px
        
    }
    


    ul li{
        display: inline-block;
        
    }

    .rightitems{
        display: flex;
    }
 

    .bottombtn{
        display: flex;
        top: 1em;
        justify-content: center;
        width: auto;
        padding-right: 10px;
        padding-left: 10px;
}

.circlecontainer{
    display: flex;
    justify-content: flex-end
}

.circle{
    display: flex;
    border-radius: 50%;
}

div#lg{
  
    background-color: rgba(247, 136, 167, 0.6);
    height: 15em;
    width: 15em;
    position: relative;
    top: -237px;
    left: 167px;
}
   
    
div#md{
   
    background-color: rgba(247, 193, 162, 0.7);
    height: 10em;
    width: 10em;
    position: relative;
    top: -100px;
    right: -83px;
  
}
    
div#sm{

    background-color:rgba(207, 130, 213, 0.6) ;
    height: 7em;
    width: 7em;
    position: relative;
    top: -173px;
    right: 90px;
   
}

    
}

    



